<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail in ejs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>request working</h1>
    <h2>id:<%= post.id %></h2><br>
    <div class="post">
        <h2>Username: <%= post.username %></h2><br>
    <h2>content:<%= post.content %></h2>
    </div>
    
</body>
</html>